$small-gap: 5px;

.permalink {
    display: inline-block;
    margin-right: $small-gap;
}

.tag {
    padding: 0 $small-gap;
    margin-right: $small-gap;
    background-color: orange;
    border-radius: 500px;
    color: $dm-background-color;
}

.spoiler * {
    display: inline-block;
    color: transparent;
    background-color: black;
    transition-duration: 300ms;
}

.spoiler-trigger:hover > .spoiler * {
    color: inherit;
    background-color: inherit;
}
