$small-gap: 5px;

.permalink {
    display: inline-block;
    margin-right: $small-gap;
}

.tag {
    padding: 0 $small-gap;
    margin-right: $small-gap;
    background-color: orange;
    border-radius: 500px;
    color: $dm-background-color;
}

.spoiler {
    * {
        display: inline-block;
        color: transparent;
        background-color: black;
        transition-duration: 300ms;
    }
}

.spoiler-trigger:hover {
    .spoiler {
        * {
            color: inherit;
            background-color: inherit;
        }
    }
}

a:target ~ .spoiler-trigger {
    outline: 2px solid hsl(210 85% 50%);
    outline-offset: 6px;
    border-radius: 1px;
}

.source {
    display: block;
    margin-top: -($small-gap * 2);
    @include relative-font-size(1);
    color: $brand-color;
    // color: hsl(210 85% 50%);
}

.contact-list {
    display: none;
}
